<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>I am Charlotte. I could do with some cheering up</p>
    <p>Text me a joke, or tell me a story?</p>
    
  </body>
</html>